@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");


:root{
    --actual_font: Plus Jakarta Sans;
}
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    overflow-x: hidden;
    font-family: var(--actual_font);
    /* min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative; */
}
main{
    overflow-x: hidden;
    width: auto;
}

/* html, body{
    overflow-x: hidden;
} */
html{
    scroll-behavior: smooth;
}

h1{
    font-size: 56px;
    font-family: var(--actual_font);
    color: #13183F;
}
p{
    font-size: 18px;
    color: #83869A;
    text-align: justify;
    margin-top: -25px;
    font-family: var(--actual_font);
}

.button{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    color: #FFFFFF;
    border: none;
    border-radius: 31.5px;
    width: 167px;
    height: 63px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 17px;
    font-family: var(--actual_font);
}
.button:hover{
    cursor: pointer;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}
.container_header{
    justify-content: space-between;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 80%;
    /* background-color: rebeccapurple; */
}
.btn{
    background-color: #13183F;
    color: #FFFFFF;
    border: none;
    border-radius: 28px;
    width: 167px;
    height: 56px;
    font-size: 18px;
    /* margin-left: 49.2rem; */
    font-family: var(--actual_font);
    z-index: 5;
}
.btn:hover{
    cursor: pointer;
    background: #666CA3;
}
.skilled{
    margin-top: auto;
    margin-bottom: auto;  
}
.sec_container{
    justify-content: space-between;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    /* background-color: #13183F; */
    height: 600px;
}
.sec_con{
    /* background-color: yellow; */
    /* margin: auto; */
    margin-top: auto;
    margin-bottom: auto;
}
.sec_content{
    margin-top: auto;
    margin-bottom: auto; 
    margin-left: auto;
    margin-right: auto; 
    /* background-color: green; */
    width: 470px;
    height: 359px;
}
.img_hero{
    position: absolute;
    margin-top: -845px;
    margin-bottom: auto;
    margin-left: 650px; 
    z-index: 1;
    /* border: 1px solid red; */
    /* background-color: #13183F; */
}
.tablet{
    display: none;
}
.mobile{
    display: none;
}

.various_courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem 36px;
    /* background-color: #666CA3; */
    width: 80%;
    margin-left: 133px;
    margin-top: 130px;
    margin-bottom: 130px;
}
.check_out{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    height: 322px;
    width: 350px;
    color: #FFFFFF;
    border-radius: 15px;
    font-size: 32px;
    margin-top: 0.9rem;
}

.check_out h3{
    font-weight: 800;
    font-size: 32px;
    font-family: var(--actual_font);
    margin-left: 1.8rem;
    margin-top: 4rem;
    text-align: left;
    margin-right: 1.8rem;
}
.course_icon{
    /* z-index: -5; */
    position: relative;
    left: 1.8rem;
    bottom: 1.5rem;
}
.course_head{
    margin-left: 1.8rem;
    font-size: 24px;
    color: #13183F;
    font-family: var(--actual_font);
}
.course_text{
    font-size: small;
    font-style: normal;
    font-family: var(--actual_font);
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    margin-left: 1.8rem;
    color: #83869A;
    margin-top: 0.5rem;
    text-align: left;
    margin-right: 1.8rem;
    
}
.course_link{
    position: relative;
    top: 1rem;
    text-decoration: none;
    color: #F74780;
    margin-left: 1.8rem;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    font-family: var(--actual_font);
    /* margin-top: 1.5rem; */
}
.course_link:hover{
    cursor: pointer;
    color: #FFA7C3;
}
.anim{
    height: 322px;
    width: 350px;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    margin-top: 15px;
    font-weight: 800;
    font-size: 24px;
    /* display: grid;
    grid-template-columns ; */

}

footer{
    display: flex;
    background-color: #13183F;
    width: 100%;
    height: 120px;
    margin-top: auto;
    margin-bottom: auto;
    /* justify-items: center; */
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.final_footer{
    display: flex;
    /* justify-content: space-between; */
    /* background-color: red; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    /* height: 56px; */
}
.final_footer img{
    margin-top: auto;
    margin-bottom: auto;
}
.final_footer button{
    margin-top: auto;
    margin-bottom: auto;
    width: 167px;
    height: 56px;
    border-radius: 28px;
    border: none;
    margin-left: auto;
    background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    color: #FFFFFF;
    font-family: var(--actual_font);
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.final_footer button:hover{
    cursor: pointer;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);

}

/* large screen tablets */
@media only screen and (min-width: 768px) and (max-width: 1114px){
body{
    overflow-x: hidden;
    }
main{
    overflow-x: hidden;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}    

.container_header{
    /* background-color: green; */
    width: 93%;
    height: auto;
    justify-content: space-between;
    display: flex;
}

.container_header img{
    width: 86px;
    margin-top: auto;
    margin-bottom: auto; 
}
.button{
    width: 167px;
    height: 56px;
    font-size: 16px;
    
}
.btn{
    width: 140px;
    height: 48px;
    font-size: 16px;
}
.img_hero{
    margin-top: -47rem;
    margin-left: 45rem;
}
.desktop{
    display: none;  
}
.tablet{
    display: block;
}
.mobile{
    display: none;
}
.sec_con{
    margin-left: -8%;
    margin-top: 50px;
    height: 300px;
}

h1{
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
}

p{
    color: #83869A;
    text-align: left;
    margin-top: -25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    width: 398px;
    height:78px;
}

.img_hero img{
    width: 640.71px;
    height: 640px;
    margin-left: -20rem;

}

.various_courses{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    /* background-color:red; */
    width: 93%;
    margin-top: -100px;
    /* margin-bottom: auto; */
    margin-left: auto;
    margin-right: auto;
}
.check_out{
    width: 339px;
    height: 259px;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px
}
.check_out h3{
    font-weight: 800;
    font-size: 24px;
}
.anim{
    width: 340px;
    height: 259px;

}

.anim ,.course_head, .course_text, .course_link{
margin-top: auto;
margin-bottom: auto;
}
.course_head{
    font-size: 20px;
}
.course_text{
    margin-top: 16px;
    width:286px;
    height:78px;
}
footer{
    margin-top: -40px;
}
.final_footer{
    width: 93%;
}
}

/* small screens (portrait phones) */
/* @media only screen and (min-width: 300px) and (max-width:567px){ */
@media only screen and (min-width: 375px) and (max-width:567px){
body{
    overflow-x: hidden;
    /* width: 689px;  */
}
main{
    overflow-x: hidden;
    /* margin: 15px; */
    width: auto;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}
.container_header{
    /* background-color: green; */
    width: 97%;
    height: auto;
    justify-content: space-between;
    display: flex;
}  
.desktop{
    display: none;  
}
.tablet{
    display: none;
}
.mobile{
    display: block;
}
.img_hero{
    margin-top: auto;
    margin-left:auto;
    width: 100%;
}
.img_hero img{
    margin-top: -12rem;
    /* width: 100%; */
    margin-left: -2.5rem;
    /* margin-left: auto;
    margin-right: auto;*/
    /* width: 327px;
    height: 301px;  */
    border: 1px solid green;
}

.sec_con{
    /* background-color: blue; */
    margin-left: -1.6rem;
    margin-right: auto;
    margin-top: 50px;
    /* height: 300px; */
    /* width: 100%; */
    border: 1px solid green;
}
.sec_content{
    width: 343px;
    /* border: 2px solid slateblue; */
}
/* .sec_container{
    width: 343;
    margin: 0 16px;
} */


h1{
    font-weight: 800;
    font-size: 40px;
    font-style: normal;
    line-height: 50px;
    /* width: 343px;
    height: 101px; */
}
p{
    color: #83869A;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
}
.various_courses{
    /* width: 375px;
    height: 1695px; */
    display: grid;
    grid-template-columns: 1fr ;
    column-gap: 16px;
    background-color:red;
    width: 97%;
    margin-top: 200px;
     /* margin-bottom: 2px; */
     margin-left: auto;
    /* margin-right: auto; */
    /* margin: 0 auto; */
}
.check_out{
    width: 343px;
    height: 120px;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    margin-right: auto;
    margin-left: auto;
    
}
.check_out h3{
    font-weight: 800;
    font-size: 24px;
    margin-top: 30px;
}
.anim{
    width: 343px;
    height: 259px;
    margin-left: auto;
    margin-right: auto;

}
.anim ,.course_head, .course_text, .course_link{
    margin-top: auto;
    margin-bottom: auto;
}
.course_head{
    font-size: 20px;
}
.course_text{
    /* background-color: #F02AA6; */
    margin-top: 16px;
    margin-right: 1.8rem;
    margin-left: 1.8rem;
    width: 300px;
    /* margin-left: auto;
    margin-right: auto; */
}
footer{
        margin-top: -40px;
}
    
.final_footer{
        width: 97%;
        
}

*{
    border: 1px solid red;
}
      
}   
/* @media only screen and (min-width:320px)  { */
/* body{
    overflow-x: hidden;
}
main{
    overflow-x: hidden;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.container_header{
    width: auto;
    height: auto;
    justify-content: space-between;
    display:flex ;
}
.container_header img{
    width: 86px;
    margin-top: auto;
    margin-bottom: auto; 

}
.button{
    width: 167px;
    height: 56px;
    font-size: 16px;
}
.btn{
    width: 140px;
    height: 48px;
    font-size: 16px;
}
.img_hero{
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
} */
/* }    */

/* body{
    overflow-x: hidden;
    width: 689px;
}
main{
    overflow-x: hidden;
    width: auto;
}
.container_header{
    background-color: green;
    width: 97%;
    height: auto;
    justify-content: space-between;
    display: flex;
}  
.desktop{
    display: none;  
}
.tablet{
    display: none;
}
.mobile{
    display: block;
}
.img_hero{
  
    margin-top: auto;
    margin-left:auto;
    width: 100%;
}
.img_hero img{
    background-color: #13183F;
    width: 327px;
    height: 301px;
    margin-top: -12rem;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: -2.5rem;
    
    align-self: center;
}
.sec_con{
    background-color: blue;
    margin-left: -1.8rem;
    margin-right: auto;
    margin-top: 50px;
    height: 300px;
    width: auto;
    align-self: center;
}
.sec_content{
    background-color: red;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    width: 343px;
    height: 101px;

}
p{
    color: #83869A;
    text-align: left;
    margin-top: -25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    width: 343px;
}
.various_courses{
    display: grid;
    grid-template-columns: 1fr ;
    column-gap: 16px;
    background-color:red;
    width: 97%;
    margin-top: 200px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    
    grid-gap: 7rem -40rem ;
    margin-top: 50px;
    
    margin-bottom: 226px;
}
.check_out{
    width: 343px;
    height: 120px;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    
}
.check_out h3{
    font-weight: 800;
    font-size: 24px;
    margin-top: 30px;
    
    margin-bottom: 1px;
}
.anim{
    width: 343px;
    height: 259px;
}
.anim ,.course_head, .course_text, .course_link{
    margin-top: auto;
    margin-bottom: auto;
}
.course_head{
    font-size: 20px;
}
.course_text{
    background-color: #F02AA6;
    margin-top: 16px;
    margin-right: 1.8rem;
    margin-left: 1.8rem;
    width: 300px;
}
footer{
        margin-top: 80px;
}
    
.final_footer{
        width: 97%;
}
} */
    
/* @media only screen and (min-width: 320px) and (max-width:480px){

body{
overflow-x: hidden;
}

main{
    background-color: red;
    width: 375px;
    height: 2615px;
    margin-left: auto;
    margin-right: auto;

}
.sec_content{
    background-color: #F02AA6;
    margin-left: -20.5px;
    width: 343px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    
    margin-right: auto;
}
h1{
    width: 343px;
    height: 101px;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
}
p{
font-weight: 500;
font-size: 16px;
line-height: 26px;
width: 343px;
height: 78px;
}


}         */
  