*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav{
    width:1109.21px ;
    height: 56px;
    display:flex ;
    justify-content: space-between;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 24px;

    
}
nav button{
    height: 56px;
    width: 167px;
    border-radius: 28px; 
    border: none;
    background-color: #13183F;
    color: #FFFFFF;
    font-size: 17px;
}
.skilled-img{
    width: 111.17px;
    height: 27.68px;
    margin-top: auto;
    margin-bottom: auto;

}
.container{
    background-color: #ffffff;
    position: relative;
    width: 1440px;
    height: 1845px;
}
.container_2{
    position: absolute;
    width: 1440px;
    height: 888px;
    left: 0px;
    top: 837px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}
#sub_container{
    position: absolute;
    width:1440px;
    height: 120px;
    left: 0px;
    top: 1725px;
    background: #13183F;
}
/* #skilled{
    color: #13183F;
    position: absolute;
    left: 120px;
    top: -30px;
    font-size: 20px;
    
} */
#sub_container_2{
    position: absolute;
    width: 1110px;
    height: 748px;
    left: 115px;
    /* right: 165px; */
    bottom: 110px;
    /* top: 37px; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: yellow;
}


.image{
    position: absolute;
    /* width: 1000.10px; */
    /* height: 956.69px; */
    left: 720px;
    /* top: 30.13px; */
    /* background-position: center; */
    height: 806px;
    width: 901px;
    margin: 24px;
    margin-top: -145px;
}
#image{
    color: #13183F;
    position: absolute;
    left: 120px;
    top: 13px;
    font-size: 20px;

}
.img{
  padding-left: 100px;  
}
#h11{
     
   font-size: 76px;
   font-family: Plus Jakarta Sans Extra Bold;
}